
#d3{
    background-color: blue;

}
/* #d1{
    height: 500px;
    background-color: brown;
}
#d2{
    height: 500px;
    background-color: green;
}
#first{
    background-color: yellow;
    height:60px;
    width: 90%;
    position: fixed;

} */

